<div id="content" class="drag-mask">
    <!--<div id="video" (document:mousemove)="onMouseMove($event)">-->
    <div id="video">
        <video id="videos" class="drag-mask__video" width="100%" height="auto" loop autoplay
               poster="./../../../assets/video/bg/daisy-stock-poster.jpg">
            <source src="./../../../assets/video/bg/daisy-stock-h264-video.mp4" type="video/mp4">
            <source src="./../../../assets/video/bg/daisy-stock-webm-video.webm" type="video/webm">
        </video>
        <svg width="0" height="0" id="masks" >
            <defs>
                <clipPath id="myClip">
                    <rect id="video1" class="videoMask" [ngStyle]="{'y': maskOneY}" [style.width.px]="firstMask" [style.height.px]="height" />
                    <rect id="video2" class="videoMask" [ngStyle]="{'y': maskTwoY}" [style.width.px]="secondMask" [style.height.px]="height" />
                    <rect id="video3" class="videoMask" [ngStyle]="{'y': maskThreeY}" [style.width.px]="thirdMask" [style.height.px]="height" />
                </clipPath>
            </defs>
        </svg>
    </div>
</div>